

@{
    ViewData["Title"] = "About";
}
<div class="about-section  ">
  <h1 style="text-align:center">About Us</h1>
  <p style="text-align:center">We Serve Hygenic and Organic Food .</p>
  <p style="text-align:center">We serve taste of  Local Food From Loacl Cooks.</p>
</div>

<h2 style="text-align:center">Our Team</h2>  
  <div class="row ">
      <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                 Marketing Head
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <img src="https://i.postimg.cc/gJ2x2q7N/About1.jpg" alt="John" style="width:100%">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                           
                            <p class="card-text"><b>Position: </b>Marketing Head</p>
                            <p class="card-text"><b>About: </b>Helima is the Marketing Head who Lead Every Stuff of Marketting to boost Business of Tiffin Nepal</p>
                                   <p class="card-text"><b>Email: </b>Helima@TiffinNepal.com</p>
                            <p><button class="button">Contact</button></p>
                                  

                            
                        

                        </div>
                    </div>
                    
                </div>

            </div>
        
    
</div>

      <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                               CEO & Founder</
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://i.postimg.cc/fy3kxWDd/About2.jpg" alt="John" style="width:100%">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                           
                            <p class="card-text"><b>Position: </b>CEO & Founder</p>
                            <p class="card-text"><b>About: </b>HariRam is the Ceo and Founder of Tiffin Nepal Which Was Founded in 2023.</p>
  <p class="card-text"><b>Email: </b>HariRam@TiffinNepal.com</p>
                            <p><button class="button">Contact</button></p>
                            
                        

                       
                    </div>
                    
                </div>

            </div>
        </div>
    
</div>
      <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                  Designer
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://i.postimg.cc/9fWMLYcC/About3.jpg" alt="John" style="width:100%">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                           
                            <p class="card-text"><b>Position: </b></p>
                            <p class="card-text"><b>About: </b>Every Designing stuff of Tiffin Nepal is Handled By Our Designer Rosa.</p>
                              <p class="card-text"><b>Email: </b>Rosa@TiffinNepal.com</p>
                            <p><button class="button">Contact</button></p>
                            
                        

                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113032.64621395394!2d85.25609251320085!3d27.708942727046708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198a307baabf%3A0xb5137c1bf18db1ea!2sKathmandu%2044600!5e0!3m2!1sen!2snp!4v1660580410141!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
