
@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Home Page";
}
 
<div class="back-img">
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                    </div>
                    </div>






<div class="container mt-5">
    <p> Featured</p>
    <hr />
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/image/juice.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">juice</h5>
    <p style="color:red">RS. 1000 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>

     <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/image/Desert.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cake Desert</h5>
  
    <p style="color:red">RS. 200 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>


     <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/image/salad.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Veg Salad</h5>
    <p style="color:red">RS. 999 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
    </div>
    </div>

<div class="container mt-5">
    <p> Special</p>
    <hr />
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/image/momo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Momo plater</h5>
    <p style="color:red">RS. 1000 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>

     <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/image/Soup.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tomato Soup</h5>
  
    <p style="color:red">RS. 200 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>


     <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/image/Biryani.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Chicken Biryani</h5>
    <p style="color:red">RS. 999 </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
    </div>
    </div>
    <br />
    <div id="pricing" class="container-fluid ">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
    <br />
  </div>
  <div class="row slideanim slide">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
           <p><strong>1</strong> Veg Thali</p>
          <p><strong>1</strong> Small Lassi</p>
          <p><strong>1</strong> Desert</p>
          <p><strong>1</strong> Soupt</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>1</strong> Chicken Thali</p>
          <p><strong>1</strong> Medium Lassi</p>
          <p><strong>1</strong> Desert</p>
          <p><strong>1</strong> Soupt</p>
          
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
            <p><strong>1</strong> Mutton Thali</p>
          <p><strong>1</strong> Large Lassi</p>
          <p><strong>1</strong> Desert</p>
          <p><strong>1</strong> Soupt</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>    
  </div>
</div>
  