<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiffinNepal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TiffinNepal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" asp-area="" asp-controller="Auth" asp-action="Dashboard">TiffinNepal</a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           <a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          <li><a class="nav-link px-2 text-white"  asp-controller="Auth" asp-action="Menu">Menu</a></li>
          
          <li><a class="nav-link px-2 text-white"asp-controller="Home" asp-action="About">About</a></li>
          <li><a  class="nav-link px-2 text-white" asp-controller="Auth" asp-action="Contactus">Contact US</a></li>
        </ul>

       

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" >
              <a class="nav-log" asp-controller="Auth" asp-action="Login">Login</a>
           </button>
          <button type="button" class="btn btn-warning">
              <a class="nav-log" asp-controller="Auth" asp-action="Signup">Signup</a>
          </button>
        </div>
      </div>
    </div>
  </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TiffinNepal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
